@model IEnumerable<DAL.Models.BusOperator>

<h2>All Operators</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    @foreach (var op in Model)
    {
        <tr>
            <td>@op.Id</td>
            <td>@op.CompanyName</td>
            <td>@op.SupportEmail</td>
            <td>@op.ContactNumber</td>
            <td>
                <a href="@Url.Action("ViewOperator", "Admin", new { id = op.Id })" class="btn btn-primary btn-sm">
                    View
                </a>
            </td>
        </tr>
    }
</table>
